<div class="container px-4">
  <div class="row rounded-lg overflow-hidden shadow">

 <!-- Users box-->
 <div class="col-xl-4 col-md-12 px-0">
  <div class="bg-ligh">
    <div style="direction: rtl;" class="bg-gray px-4 py-2 bg-light">
      <div class="row">
        <p class="h5 mb-0 py-1 col-sm-12" style="color: black !important;">
          پیام ها
        </p>
     
      </div>
    </div>

    <div class="messages-box">
      <div class="list-group rounded-0">
        <a
          *ngFor="let item of conversations"
          [ngStyle]="{
            'background-color': (
              currentConversation
                ? item._id == currentConversation._id
                : false
            )
              ? '#ECECF6'
              : '#ffffff'
          }"
          (click)="setConversation(item)"
          style="direction: rtl; cursor: pointer;"
          class="list-group-item list-group-item-action list-group-item-light rounded-0"
        >
          <div class="media">
            <img
              [src]="
                item.image
                  ? util.getAvatarThumbnail(item.image)
                  : 'assets/img/user.png'
              "
              alt="user"
              width="50"
              class="rounded-circle"
              style="border: 2px solid #007bff;"
            />
            <div class="media-body mr-3">
              <div
                class="d-flex align-items-center justify-content-between mb-1"
              >
                <h6 class="mb-0 font-weight-bold" style="color: black;">
                  {{ item.name }}
                </h6>
                <small class="small font-weight-bold">{{
                  dateString(item.date)
                }}</small>
              </div>
              <p class="text-muted mb-0" style="font-size: 12px;">
                {{ item.lastMessage }}
              </p>
            </div>
            <div class="mr-2 mt-3">
              <span *ngIf="item.unSeenCount" class="badge badge-primary">{{
                item.unSeenCount
              }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


    <!-- Chat Box-->
    <div class="col-xl-8 col-md-12 px-0">
      <div style="direction: rtl;" class="bg-gray px-4 py-2 bg-light">
        <div class="row">
          <p class="h5 mb-0 py-1 col-sm-8 col-8" style="color: black !important;">
            {{ currentConversation ? currentConversation.name : '' }}
          </p>
          <a
            *ngIf="currentConversation"
            (click)="checkPermissionsForAudioCall()"
            class="h5 mb-0 py-1 col-sm-2 col-2"
            style="color: black !important;"
            ><i class="nav-icon fas fa-phone"></i
          ></a>
          <a
            *ngIf="currentConversation"
            (click)="checkPermissionsForVideoCall()"
            class="h5 mb-0 py-1 col-sm-2 col-2"
            style="color: black !important;"
            ><i class="nav-icon fas fa-video"></i
          ></a>
        </div>
      </div>

      <div
        #scrollMe
        class="px-4 py-5 chat-box bg-white"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolledUp)="onScroll()"
        [scrollWindow]="false"
      >
        <div *ngFor="let item of conversationMessages">
          <!-- Sender Message-->
          <div *ngIf="item.from !== user._id" class="media w-50 mb-3">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <!-- text section -->
                <p *ngIf="item.type === 0" class="text-small mb-0 text-muted">
                  {{ item.body }}
                </p>
                <!-- image section -->
                <div *ngIf="item.type === 1">
                  <div
                    class="p-container"
                    style="padding-left: 0px; padding-right: 0px;"
                  >
                    <img
                      style="width: 100%; height: 100%; object-fit: cover;"
                      [src]="util.getUploadUrl(item.resource)"
                      class="img-rounded"
                    />
                    <div class="p-bottom-left">
                      <a
                        (click)="
                          open(displayImage, util.getUploadUrl(item.resource))
                        "
                        style="
                          color: white;
                          background: rgba(0, 0, 0, 0.5);
                          cursor: pointer;
                        "
                      >
                        <i style="padding: 10px;" class="fa fa-search"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- file section -->
                <div *ngIf="item.type === 2">
                  <div class="row" style="direction: rtl; text-align: right;">
                    <div class="col-md-3 my-auto" style="text-align: center;">
                      <i
                        style="font-size: xx-large;"
                        class="nav-icon fas fa-file"
                      ></i>
                    </div>
                    <div class="col-md-9">
                      <small>با کلیک روی لینک زیر فایل را دانلود نمایید</small>
                      <br />
                      <a
                        style="color: black; font-weight: bolder;"
                        target="_blank"
                        [href]="util.getUploadUrl(item.resource)"
                        >دانلود فایل</a>
                    </div>
                  </div>
                </div>


  <!-- missed call section -->
  <div *ngIf="item.type === 3">
    <div class="row" style="direction: rtl; text-align: right;">
      <div class="col-md-3 my-auto" style="text-align: center;">


        <img src="./../../../assets/img/missed.png"/>
      </div>
      <div class="col-md-9">
        <small>تماس از دست رفته</small>
        <br />
        <a
          style="color: black; font-weight: bolder;"
          [routerLink]="['/call', currentConversation._id]"
          [queryParams]="{
            type: 'video',
            user: currentConversation.name,
            image: currentConversation.image
          }"
          >برقراری تماس</a>
      </div>
    </div>
  </div>

  <div *ngIf="item.type === 4">
    <div class="row" style="direction: rtl; text-align: right;">
      <div class="col-md-3 my-auto" style="text-align: center;">
        <img src="./../../../assets/img/incomingCall.png"/>
      </div>
      <div class="col-md-9">
        <small>تماس ورودی</small>
        <br />
        <a
          style="color: black; font-weight: bolder;"
          [routerLink]="['/call', currentConversation._id]"
          [queryParams]="{
            type: 'video',
            user: currentConversation.name,
            image: currentConversation.image
          }"
          >برقراری تماس</a>
      </div>
    </div>
  </div>

              </div>
              <p class="small text-muted" style="direction: rtl;">
                {{ dateString(item.date) }}
              </p>
            </div>
          </div>

          <!-- Reciever Message-->
          <div *ngIf="item.from === user._id" class="media w-50 ml-auto mb-3">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <!-- text section -->
                <p *ngIf="item.type === 0" class="text-small mb-0 text-white">
                  {{ item.body }}
                </p>
                <!-- image section -->
                <div *ngIf="item.type === 1">
                  <div
                    class="p-container"
                    style="padding-left: 0px; padding-right: 0px;"
                  >
                    <img
                      style="width: 100%; height: 100%; object-fit: cover;"
                      [src]="util.getUploadUrl(item.resource)"
                      class="img-rounded"
                    />
                    <div class="p-bottom-left">
                      <a
                        (click)="
                          open(displayImage, util.getUploadUrl(item.resource))
                        "
                        style="
                          color: white;
                          background: rgba(0, 0, 0, 0.5);
                          cursor: pointer;
                        "
                      >
                        <i style="padding: 10px;" class="fa fa-search"></i>
                      </a>
                    </div>
                  </div>
                  <div *ngIf="item.loading">
                    <p style="text-align: center;">
                      تصویر در حال آپلود می باشد، لطفا شکیبا باشید
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        style="width: 1000%;"
                      ></div>
                    </div>
                  </div>
                </div>

                <!-- file section -->
                <div *ngIf="item.type === 2">
                  <div
                    *ngIf="!item.loading"
                    class="row"
                    style="direction: rtl; text-align: right;"
                  >
                    <div class="col-md-3 my-auto" style="text-align: center;">
                      <i
                        style="font-size: xx-large;"
                        class="nav-icon fas fa-file"
                      ></i>
                    </div>
                    <div class="col-md-9">
                      <small>با کلیک روی لینک زیر فایل را دانلود نمایید</small>
                      <br />
                      <a
                        style="color: white; font-weight: bolder;"
                        target="_blank"
                        [href]="util.getUploadUrl(item.resource)"
                        >دانلود فایل</a
                      >
                    </div>
                  </div>
                  <div *ngIf="item.loading">
                    <p style="text-align: center;">
                      فایل در حال آپلود می باشد، لطفا شکیبا باشید
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        style="width: 1000%;"
                      ></div>
                    </div>
                  </div>
                </div>

                <div *ngIf="item.type === 3">
                  <div class="row" style="direction: rtl; text-align: right;">
                    <div class="col-md-3 my-auto" style="text-align: center;">
                      <img src="./../../../assets/img/missed.png"/>
                    </div>
                    <div class="col-md-9">
                      <small>تماس از دست رفته</small>
                      <br />
                      <a
                        style="color: white; font-weight: bolder;"
                        [routerLink]="['/call', currentConversation._id]"
                        [queryParams]="{
                          type: 'video',
                          user: currentConversation.name,
                          image: currentConversation.image
                        }"
                        >برقراری تماس</a>
                    </div>
                  </div>
                </div>

                <div *ngIf="item.type === 4">
                  <div class="row" style="direction: rtl; text-align: right;">
                    <div class="col-md-3 my-auto" style="text-align: center;">
                      <img src="./../../../assets/img/outgoingCall.png"/>
                    </div>
                    <div class="col-md-9">
                      <small>تماس خروجی</small>
                      <br />
                      <a
                        style="color: white; font-weight: bolder;"
                        [routerLink]="['/call', currentConversation._id]"
                        [queryParams]="{
                          type: 'video',
                          user: currentConversation.name,
                          image: currentConversation.image
                        }"
                        >برقراری تماس</a>
                    </div>
                  </div>
                </div>


              </div>
              <p class="small text-muted" style="direction: rtl;">
                <span
                  *ngIf="item.seen"
                  style="color: #007bff;"
                  class="fas fa-check"
                ></span
                >&nbsp;{{ dateString(item.date) }}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="!conversationMessages">
          <div
            class="d-flex justify-content-center"
            style="
              width: 100%;
              height: 300px;
              background-image: url('../../../assets/img/chatbg.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position-x: center;
            "
          ></div>
          <h3 style="text-align: center; direction: rtl;">
            شروع به گفتگو نمایید...
          </h3>
        </div>
      </div>

      <!-- Typing area -->
      <div *ngIf="currentConversation" class="bg-light">
        <div class="input-group">
          <div class="input-group-append">
            <button
              (keyup.enter)="sendText()"
              (click)="sendText()"
              id="button-addon2"
              type="button"
              class="btn btn-link"
            >
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>
          <input
            [(ngModel)]="message"
            (keyup.enter)="sendText()"
            type="text"
            style="text-align: right; direction: rtl;"
            placeholder="چیزی بنویسید...."
            aria-describedby="button-addon2"
            class="form-control rounded-0 border-0 py-4 bg-light"
          />
          <div class="input-group-append">
            <div style="display: none;">
              <input
                id="upfile"
                type="file"
                (change)="fileChange($event)"
                placeholder="Upload file"
                accept=".pdf"
              />
              <input
                id="upimage"
                type="file"
                (change)="imageChange($event)"
                placeholder="Upload image"
                accept=".jpg,.png"
              />
            </div>

            <button
              onclick="document.getElementById('upimage').click()"
              type="button"
              class="btn btn-link"
            >
              <i class="fa fa-image"></i>
            </button>
            <button
              onclick="document.getElementById('upfile').click()"
              type="button"
              class="btn btn-link"
            >
              <i class="fa fa-file"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

   
  </div>
</div>
<br />

<ng-template #displayImage let-modal>
  <div class="p-container" style="width: 100%;">
    <img
      style="width: 100%; height: 100%; object-fit: cover;"
      [src]="largimage"
    />
    <a
      class="p-bottom-right"
      [href]="largimage"
      target="_blank"
      style="color: white; background: rgba(0, 0, 0, 0.5); cursor: pointer;"
    >
      <i style="padding: 10px;" class="fa fa-download"></i>
    </a>
  </div>
</ng-template>


<ng-template #confirmModal let-modal>
  <div class="modal-header" style="direction: rtl;">

    <h4 class="modal-title" id="modal-basic-title" style="direction: rtl; text-align: right;">
     وضعیت تماس
    </h4>
    <button
    [hidden]="permissionLoading"
    type="button"
    class="close"
    style="float: left !important; margin: 0 0 0 0 !important;"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body" style="direction: rtl;">
  
    <h5>{{permissionLoadingMessage}}</h5>
    <br/>

    <div [hidden]="!permissionLoading" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>

    <button [hidden]="permissionLoading" type="button" style="width: 100%;" class="btn btn-danger" (click)="modal.dismiss('Cross click')">
      تایید
    </button>
  </div>
</ng-template>