<div class="register-box">
  <div class="register-logo">
    <a [routerLink]="['/']">تلمدیسین</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">ثبت نام در سامانه</p>

      <form [formGroup]="registerForm" (ngSubmit)="submitFunc()">
        <div  *ngIf="!firstStepPassed" class="input-group mb-3">
          <input
            style="text-align: right;"
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="نام و نام خانوادگی"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div *ngIf="!firstStepPassed" class="input-group mb-3">
          <input
            style="text-align: right;"
            formControlName="username"
            type="text"
            class="form-control"
            (keypress)="numberOnly($event)"
            placeholder="شماره همراه"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
        <div *ngIf="!firstStepPassed" class="input-group mb-3">
          <input
            style="text-align: right;"
            (input)="onSearchChange($event.target.value)"
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="رمز عبور"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div *ngIf="!firstStepPassed" class="input-group mb-3">
          <input
            style="text-align: right;"
            formControlName="retypePassword"
            type="password"
            class="form-control"
            placeholder="تکرار رمز عبور"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>

          
        </div>
        <div *ngIf="!firstStepPassed" class="progress" style="height: 15px;">
          <div [ngClass]="passwordClass" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="passwordValue+'%'" [attr.aria-valuenow]="passwordValue" aria-valuemin="0" aria-valuemax="100">

          </div>
        </div>
        <p *ngIf="!firstStepPassed" style="width: 100%; text-align: right; font-size: small; margin-top: 0px; margin-bottom: 0px;">{{passwordText}}</p>
        <br/>
        <div style="text-align: center;" *ngIf="firstStepPassed" class="input-group mb-3">
        شماره همراه {{registerForm.get('username').value}}
        </div>
        <div *ngIf="firstStepPassed" class="input-group mb-3">
          <input
            style="text-align: right;"
            formControlName="code"
            type="text"
            class="form-control"
            (keypress)="numberOnly($event)"
            placeholder="کد احراز هویت"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-code"></span>
            </div>
          </div>
        </div>

        <div *ngIf="!firstStepPassed" class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">
             دریافت کد احراز هویت 
            </button>
          </div>
        </div>
        <div *ngIf="firstStepPassed"  class="row">
          <div class="col-12">
            <button type="submit" [disabled]="registerForm.get('code').value === null || registerForm.get('code').value.length!==5" class="btn btn-primary btn-block">
              ثبت نام
            </button>
          </div>
        </div>
      </form>

      

      <br />
      <p *ngIf="!firstStepPassed" class="mb-1">
        <a
          [routerLink]="['/login']"
          class="text-center"
          style="text-align: right;"
          >قبلا عضو شده ام</a
        >
      </p>
      <br/>

      <p *ngIf="firstStepPassed" class="mb-1">
        
   اعتبار کد تا   {{timeLeft}} ثانیه
      </p>
      <p *ngIf="firstStepPassed" class="mb-1">
        <button class="btn btn-warning btn-block" (click)="goback()">بازگشت به مرحله قبل</button>
      </p>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>
