

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">

      <div class="row" *ngIf="items && items.length==0">
        <div class="col" style="text-align: center;" align="center">
          <i style="font-size: 90px;" class="fas fa-list"></i>
          <h5 style="text-align: center;">هیچ ویزیتی برنامه ریزی نشده</h5>
        </div>
      </div>

        <div class="row" *ngIf="items && items.length!=0">
        <div  *ngFor="let item of items" class="col-xl-3 col-md-6 col-sm-6 col-xs-12">
          <div class="card card-primary card-outline">
              <div class="card-body">
                <h4 style="text-align: center !important; width: 100%;" class="card-title">{{item.doctor.name}}</h4>
                <h5 style="text-align: center !important; width: 100%;" class="card-title">{{item.doctor.category.name}}</h5>
                <p style="text-align: center; direction: rtl;" class="card-text">{{item.date}}</p>
                <p style="text-align: center; direction: rtl;" class="card-text">{{item.startTime.hour}}:{{item.startTime.minute}} - {{item.endTime.hour}}:{{item.endTime.minute}}</p>
                <p *ngIf="item.status === 1 "  style="width: 100%; color: white;"  class="badge badge-danger">ویزیت انجام نشده</p>
                <p *ngIf="item.status === 2 "  style="width: 100%; color: white;"  class="badge badge-success">ویزیت انجام شده</p>
              </div>
            </div>
           </div>
        </div>

        <div *ngIf="items && items.length!=0">
            <ngb-pagination   [collectionSize]="collectionSize" [(page)]="page" (pageChange)="load()" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

        </div>
   <br/>

    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
