<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-3 col-md-6 col-sm-6 col-xs-12">

        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{status?status.done:0}}</h3>
            <p>ویزیت انجام شده</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-6 col-xs-12">

        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{status?status.scheduled:0}}</h3>

            <p>ویزیت برنامه ریزی شده</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-6 col-xs-12">

        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{status?status.today:0}}</h3>

            <p>ویزیت های امروز</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-sm-6 col-xs-12">

        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{status?status.priority:0}}</h3>

            <p>ویزیت در اولویت</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>


    <div class="row" style="direction: rtl;">
      <div class="col">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 style="text-align: center !important; float: right; width: 100%;" class="card-title">ویزیت های در
              اولویت</h5>
              <div class="input-group" style="margin-bottom: 20px;">
                <input (ngModelChange)="onFilterChangePriority($event)" [ngModel]="filterWordPriority" class="form-control"
                  placeholder="برای فیلتر کردن تایپ نمایید.." />
              </div>
            <table class="table table-striped" style="text-align: right;">
              <thead>
                <tr>
                  <th scope="col">بیمار</th>
                  <th scope="col">زمان ویزیت</th>
                  <th class="d-none d-md-table-cell" scope="col">جنیست</th>
                  <th class="d-none d-xl-table-cell" scope="col">کدملی</th>
                  <th class="d-none d-xl-table-cell" scope="col">تاریخ تولد</th>
                  <th class="d-none d-xl-table-cell" scope="col">شهر</th>
                  <th class="d-none d-md-table-cell" scope="col">اولویت</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of doctorPriorityItems">
                  <td><a [routerLink]="['/profile', item.patient._id]">{{ item.patient.name }}</a></td>
                  <td>{{ item.date }} <br/> {{item.startTime.hour}}:{{item.startTime.minute}} -
                    {{item.endTime.hour}}:{{item.endTime.minute}}</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'male'">آقا</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'female'">خانم</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.nationalId }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.dateOfBirth }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.city }}</td>
                  <td class="d-none d-md-table-cell"><span class="badge badge-danger">فوری</span></td>
                  <td><a class="btn btn-sm btn-outline-danger" [routerLink]="['/visitstatus', item._id]">ویزیت بیمار</a></td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="doctorPriorityCollectionSize" [(page)]="doctorPriorityPage"
                [pageSize]="pageSize" (pageChange)="doctorPriority()">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="direction: rtl;">
      <div class="col">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 style="text-align: center !important; float: right; width: 100%;" class="card-title">ویزیت های امروز
            </h5>
            <div class="input-group" style="margin-bottom: 20px;">
              <input (ngModelChange)="onFilterChangeToday($event)" [ngModel]="filterWordToday" class="form-control"
                placeholder="برای فیلتر کردن تایپ نمایید.." />
            </div>
            <table class="table table-striped" style="text-align: right;">
              <thead>
                <tr>
                  <th scope="col">بیمار</th>
                  <th scope="col">زمان ویزیت</th>
                  <th class="d-none d-md-table-cell" scope="col">جنیست</th>
                  <th class="d-none d-xl-table-cell" scope="col">کدملی</th>
                  <th class="d-none d-xl-table-cell" scope="col">تاریخ تولد</th>
                  <th class="d-none d-xl-table-cell" scope="col">شهر</th>
                  <th class="d-none d-md-table-cell" scope="col">اولویت</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of doctorTodayItems">
                  <td><a [routerLink]="['/profile', item.patient._id]">{{ item.patient.name }}</a></td>
                  <td>{{ item.date }} <br/> {{item.startTime.hour}}:{{item.startTime.minute}} -
                    {{item.endTime.hour}}:{{item.endTime.minute}}</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'male'">آقا</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'female'">خانم</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.nationalId }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.dateOfBirth }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.city }}</td>
                  <td class="d-none d-md-table-cell"><span class="badge badge-warning">امروز</span></td>
                  <td><a class="btn btn-sm btn-outline-warning" [routerLink]="['/visitstatus', item._id]">ویزیت بیمار</a></td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="doctorTodayCollectionSize" [(page)]="doctorTodayPage"
                [pageSize]="pageSize" (pageChange)="doctorToday()">
              </ngb-pagination>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="row" style="direction: rtl;">
      <div class="col">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 style="text-align: center !important; float: right; width: 100%;" class="card-title">ویزیت های برنامه ریزی
              شده</h5>
              <div class="input-group" style="margin-bottom: 20px;">
                <input (ngModelChange)="onFilterChangeScheduled($event)" [ngModel]="filterWordScheduled" class="form-control"
                  placeholder="برای فیلتر کردن تایپ نمایید.." />
              </div>
            <table class="table table-striped" style="text-align: right;">
              <thead>
                <tr>
                  <th scope="col">بیمار</th>
                  <th scope="col">زمان ویزیت</th>
                  <th class="d-none d-md-table-cell" scope="col">جنیست</th>
                  <th class="d-none d-xl-table-cell" scope="col">کدملی</th>
                  <th class="d-none d-xl-table-cell" scope="col">تاریخ تولد</th>
                  <th class="d-none d-xl-table-cell" scope="col">شهر</th>
                  <th class="d-none d-md-table-cell" scope="col">اولویت</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of doctorScheduledItems">
                  <td><a [routerLink]="['/profile', item.patient._id]">{{ item.patient.name }}</a></td>
                  <td>{{ item.date }} <br/> {{item.startTime.hour}}:{{item.startTime.minute}} -
                    {{item.endTime.hour}}:{{item.endTime.minute}}</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'male'">آقا</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'female'">خانم</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.nationalId }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.dateOfBirth }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.city }}</td>
                  <td class="d-none d-md-table-cell"><span class="badge badge-primary">برنامه ریزی شده</span></td>
                  <td><a class="btn btn-sm btn-outline-primary" [routerLink]="['/visitstatus', item._id]">ویزیت بیمار</a></td>
                </tr>
              </tbody>
            </table>
            
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="doctorScheduledCollectionSize" [(page)]="doctorScheduledPage"
                [pageSize]="pageSize" (pageChange)="doctorScheduled()">
              </ngb-pagination>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="row" style="direction: rtl;">
      <div class="col">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 style="text-align: center !important; float: right; width: 100%;" class="card-title">ویزیت های انجام شده
            </h5>
            <div class="input-group" style="margin-bottom: 20px;">
              <input (ngModelChange)="onFilterChangeDone($event)" [ngModel]="filterWordDone" class="form-control"
                placeholder="برای فیلتر کردن تایپ نمایید.." />
            </div>
            <table class="table table-striped" style="text-align: right;">
              <thead>
                <tr>
                  <th scope="col">بیمار</th>
                  <th scope="col">زمان ویزیت</th>
                  <th class="d-none d-md-table-cell" scope="col">جنیست</th>
                  <th class="d-none d-xl-table-cell" scope="col">کدملی</th>
                  <th class="d-none d-xl-table-cell" scope="col">تاریخ تولد</th>
                  <th class="d-none d-xl-table-cell" scope="col">شهر</th>
                  <th scope="col">اولویت</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of doctorDoneItems">
                  <td><a [routerLink]="['/profile', item.patient._id]">{{ item.patient.name }}</a></td>
                  <td>{{ item.date }} <br/> {{item.startTime.hour}}:{{item.startTime.minute}} -
                    {{item.endTime.hour}}:{{item.endTime.minute}}</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'male'">آقا</td>
                  <td class="d-none d-md-table-cell" *ngIf="item.patient.gender === 'female'">خانم</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.nationalId }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.dateOfBirth }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.patient.city }}</td>
                  <td><span class="badge badge-success">انجام شده</span></td>

                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="doctorDoneCollectionSize" [(page)]="doctorDonePage"
                [pageSize]="pageSize" (pageChange)="doctorDone()">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</section>
