<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-body" style="direction: rtl;">
            <div class="row" style="margin-bottom: 20px; margin-top: 10px;">
              <div class="col-md-10">
                <div class="input-group" style="padding-bottom: 10px;">
                  <input
                    (ngModelChange)="onFilterChange($event)"
                    [ngModel]="filterWord"
                    class="form-control"
                    placeholder="برای فیلتر کردن تایپ نمایید.."
                  />
                </div>
              </div>
              <div class="col-md-2">
                <button
                  class="btn btn-outline-primary pull-right"
                  (click)="open(addNewModal)">
                  افزودن پزشک
                </button>
              </div>
            </div>

            <table class="table table-striped" style="text-align: right;">
              <thead>
                <tr>
                  <th scope="col">نام</th>
                  <th scope="col">نام کاربری</th>
                  <th class="d-none d-xl-table-cell" scope="col">جنسیت</th>
                  <th scope="col">دسته‌بندی</th>
                  <th class="d-none d-xl-table-cell" scope="col">کدملی</th>
                  <th class="d-none d-xl-table-cell" scope="col">تاریخ تولد</th>
                  <th scope="col">عملیات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>
                    <a [routerLink]="['/doctor', item._id]">{{
                      item.name
                    }}</a>
                  </td>
                  <td>{{ item.username }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.gender === 'male' ? 'آقا' : 'خانم' }}</td>
                  <td>{{ item.category.name }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.nationalId }}</td>
                  <td class="d-none d-xl-table-cell">{{ item.dateOfBirth }}</td>
                  <td>
                    <a [routerLink]="" (click)="openEdit(addNewModal, item)"
                      ><span class="mdi mdi-pencil"></span></a
                    >&nbsp;<a [routerLink]="" (click)="open(deleteModal, item)"
                      ><span class="mdi mdi-delete"></span
                    ></a>&nbsp;<a [routerLink]="" (click)="open(infoModal, item)"
                    ><span class="mdi mdi-information"></span
                  ></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="load()"
              >
              </ngb-pagination>
            </div>
    <!-- /.delete confirmation modal -->
    <ng-template #infoModal let-modal>
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="float: left !important; margin: 0 0 0 0 !important;"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4
          class="modal-title"
          id="modal-basic-title"
          style="direction: rtl;">
          اطلاعات
        </h4>
      </div>
      <div class="modal-body" style="direction: rtl;">
        <p style="text-align: right; direction: rtl;">
          کاربر انتخاب شده: {{ selectedItem.name }}
        </p>
        <br />
        <table class="table table-striped" style="text-align: center;">
            <tr>
              <td>آدرس آی پی</td>
              <td>{{selectedItem.ip}}</td>
            </tr>
            <tr>
              <td>آخرین ورود</td>
              <td>{{selectedItem.lastLogin | jalali}}</td>
            </tr>
            <tr>
              <td>تلاش های ناموفق</td>
              <td>{{selectedItem.UnsuccessfulAttempts}}</td>
            </tr>
        </table>
      </div>
    </ng-template>
            <!-- /.delete confirmation modal -->
            <ng-template #deleteModal let-modal>
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  style="float: left !important; margin: 0 0 0 0 !important;"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4
                  class="modal-title"
                  id="modal-basic-title"
                  style="direction: rtl;"
                >
                  حذف پزشک
                </h4>
              </div>
              <div class="modal-body" style="direction: rtl;">
                <p style="text-align: right; direction: rtl;">
                  پزشک انتخاب شده: {{ selectedItem.name }}
                </p>
                <p style="text-align: right; direction: rtl;">
                  آیا از حذف این پزشک اطمینان دارید؟
                </p>
                <br />
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="delete(selectedItem)"
                >
                  حذف
                </button>
              </div>
            </ng-template>

            <!-- /.add new modal -->
            <ng-template #addNewModal let-modal>
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  style="float: left !important; margin: 0 0 0 0 !important;"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4
                  *ngIf="!isEdit"
                  class="modal-title"
                  id="modal-basic-title"
                  style="direction: rtl;"
                >
                  افزودن پزشک
                </h4>
                <h4
                  *ngIf="isEdit"
                  class="modal-title"
                  id="modal-basic-title"
                  style="direction: rtl;"
                >
                  ویرایش پزشک
                </h4>
              </div>
              <div class="modal-body" style="direction: rtl;">
                <form [formGroup]="doctorForm" (ngSubmit)="save()">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="name"
                        formControlName="name"
                        class="form-control"
                        placeholder="نام پزشک"
                      />
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="name.errors.required">
                        ورود نام پزشک اجباری است
                      </div>
                      <div *ngIf="name.errors.minlength">
                        نام میبایست حداقل 4 کاراکتر باشد
                      </div>
                    </div>
                  </div>
                  <div align="right" class="form-group">
                    <label>جنسیت</label>
                    &nbsp; &nbsp;
                    <label>
                      <input
                        type="radio"
                        checked
                        value="male"
                        formControlName="gender"
                      />
                      <span>&nbsp;آقا</span>
                    </label>
                    &nbsp; &nbsp; &nbsp;
                    <label>
                      <input
                        type="radio"
                        value="female"
                        formControlName="gender"
                      />
                      <span>&nbsp;خانم</span>
                    </label>
                  </div>
                  <div align="right" class="form-group">
                    <div class="input-group">
                      <input
                        id="dateOfBirth"
                        formControlName="dateOfBirth"
                        class="form-control"
                        placeholder="تاریخ تولد"
                        [dpDayPicker]="datePickerConfig"
                        theme="dp-material"
                      />
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                        dateOfBirth.invalid &&
                        (dateOfBirth.dirty || dateOfBirth.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="dateOfBirth.errors.required">
                        ورود تاریخ تولد پزشک اجباری است
                      </div>
                      <div *ngIf="!dateOfBirth.errors.required">
                        لطفا تاریخ تولد را از منوی کشویی انتخاب نمایید
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="visitFee"
                        formControlName="visitFee"
                        type="number"
                        class="form-control"
                        placeholder="حق ویزیت پزشک (تومان)"
                      />
                    </div>
                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                        visitFee.invalid && (visitFee.dirty || visitFee.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="visitFee.errors.required">
                        ورود حق ویزیت پزشک اجباری است
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="username"
                        formControlName="username"
                        class="form-control"
                        placeholder="تلفن همراه پزشک"
                      />
                    </div>

                
                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                      username.invalid &&
                        (username.dirty || username.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="username.errors.required">
                        ورود تلفن همراه پزشک اجباری است
                      </div>
                      <div *ngIf="username.errors.pattern">
                        فرمت تلفن همراه صحیح نمی باشد
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="رمز عبور پزشک"
                        type="password"
                      />
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                        password.invalid && (password.dirty || password.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="password.errors.required">
                        ورود رمز عبور پزشک اجباری است
                      </div>
                      <div *ngIf="password.errors.minlength">
                        رمز عبور میبایست حداقل 4 کاراکتر باشد
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        class="form-control"
                        placeholder="تکرار رمز عبور پزشک"
                        type="password"
                      />
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                        confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="confirmPassword.errors.required">
                        ورود تکرار رمز عبور پزشک اجباری است
                      </div>
                      <div *ngIf="confirmPassword.errors.minlength">
                        تکرار رمز عبور میبایست حداقل 4 کاراکتر باشد
                      </div>
                      <div *ngIf="confirmPassword.errors.notEquivalent">
                        رمزعبور و تکرار آن باهم برابر نیستند
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <input
                        id="nationalId"
                        formControlName="nationalId"
                        class="form-control"
                        placeholder="کدملی پزشک"
                      />
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="nationalId.invalid &&
                        (nationalId.dirty || nationalId.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="nationalId.errors.required">
                        ورود کدملی پزشک اجباری است
                      </div>
                      <div *ngIf="nationalId.errors.pattern">
                        فرمت کدملی صحیح نمی باشد
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group"
                    style="direction: rtl; text-align: right;"
                  >
                    <div class="input-group">
                      <input
                        id="category"
                        formControlName="category"
                        type="text"
                        class="form-control"
                        [class.is-invalid]="searchFailed"
                        [ngbTypeahead]="search"
                        [resultFormatter]="formatter"
                        [inputFormatter]="formatter"
                        [resultTemplate]="rt"
                        placeholder="دسته بندی پزشکان"
                      />
                    </div>

                    <small *ngIf="searching" class="form-text text-muted"
                      >درحال جستجو...</small
                    >
                    <div class="invalid-feedback" *ngIf="searchFailed">
                      خطا در بارگزاری دسته بندی ها
                    </div>

                    <div
                      style="direction: rtl; text-align: right;"
                      *ngIf="
                        category.invalid && (category.dirty || category.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="category.errors.required">
                        ورود دسته بندی پزشک اجباری است
                      </div>
                    </div>
                  </div>

                  <button
                    *ngIf="isEdit"
                    type="button"
                    class="btn btn-primary"
                    (click)="edit()"
                  >
                    ویرایش
                  </button>

                  <button
                    *ngIf="!isEdit"
                    type="button"
                    class="btn btn-primary"
                    (click)="save()"
                  >
                    ذخیره
                  </button>
                </form>
              </div>
            </ng-template>

            <ng-template
              style="direction: rtl; text-align: right; float: right;"
              #rt
              let-r="result"
              let-t="term"
            >
              <ngb-highlight
                style="direction: rtl; text-align: right; float: right;"
                [result]="r.name"
                [term]="t"
              >
              </ngb-highlight>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
